#wrapper { 
   position: fixed; 
   width:100%;
   height:100%;
   top: 0px;
   left: 0px;
}
#over_map { 
   position: absolute;
   top: 10px; 
   left: 10px; 
   z-index: 99;
   background-color: white; 
}
#map {
   width: 100%;
   height: 100% ;
}
#output {
   position: absolute;
   top: 50%; 
   left:7%; 
   z-index: 99;
}
.form-group {
   margin-bottom: 10px;

}
#fuelTypeSelect {
   font-size: 16px;
   font-family: Helvetica Neue ,Helvetica, Arial, sans-serif;
}
#gas-icon-wrapper {
   text-align: center;
}
#icon {
   margin-top: 18px;
}