body {
	font-family: "Poppins, sans-serif;";
	background-color: transparent;
	text-align: center;
}
#map {
	margin: auto;
	height: 400px;
	width: 60%;
}
input[type = "text"] {
	width: 200px;
}
.alert-info {
	text-align: center;
	color: black;
	font-size: 20px;
}